/node_modules
/public/css
/public/js
/public/hot
/public/storage
/public/.htaccess
/storage/*.key
/vendor
.DS_Store
.htaccess
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/packages
lang/php_*.json
